
body{
    padding-bottom: 10000px;
}

.elemento1{
    position: static;
    background-color: rgb(107, 51, 160);
    color: beige;
    width: 100px;
    height: 100px;
}

.elemento2{
    background-color: rgb(109, 160, 51);
    width: 100px;
    height: 100px;
    position: sticky;
    top: 0px;
}